/****************************** GENERAL RULES ********************************/
.display_flex_row_center_center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.display_flex_col_center_center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex_wraped{
    flex-wrap: wrap;
}

.flex_jus_left{
    justify-content: flex-start !important;
}

.displayed{
    display: block;
}

.not_displayed{
    display: none;
}

.icon_pdf_width{
    width: 40px;
}

.debug{
    background: red;
}

/****************************** GENERAL RULES ********************************/


.container{
    max-width: 100% !important;
    padding: 0 !important;
}

/************************************** SIDE MENU SECTION *********************************************
div#side_menu_admin_page{
    position: fixed;
    top: 56px;
    left: 0;
    width: 200px;
    height: 100%;
    background: #343a40;
    border-top: 1px solid grey;
    padding-top: 20px;
    padding-right: 20px;
}

.side_menu_category{
    display: inline-block;
    padding-right: 35px;
    padding-left: 15px;
    color: white;
}

div#side_menu_admin_page a:link {
    color: white;
    text-decoration: none;
}

/* visited link
div#side_menu_admin_page a:visited {
    color: white;
}

/* mouse over link
div#side_menu_admin_page a:hover {
    color: white;
}

/* selected link
div#side_menu_admin_page a:active {
    color: white;
}

div#side_menu_admin_page li a{
    color: #cacaca !important;
}

div#side_menu_admin_page li{
    list-style-type: none;
}
****/
/************************************** SIDE MENU SECTION ************************************************/

/************************************** GENERAL TABS SECTION ************************************************/
.tabs_content_container{
    margin-top: 100px;
    padding-right:10px;
    padding-left:10px;
}
/************************************** GENERAL TABS SECTION ************************************************/

/************************************** COURS TES TABLE DATA SECTION ************************************************/

div#cours_tes_array_data thead{
    text-align: center;
}

div#cours_tes_array_data table td{
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

/************************************** COURS TES TABLE DATA SECTION ************************************************/
